<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT SYSTEMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Strona glówna</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/kontakt}">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="container">
        <div class="row p-2">
            <h1>Aplikacja SI Kasa</h1>
            <p>
                <span class="fw-bold fst-italic" title="Kasa przyjmie">KP</span>
                i <span class="fw-bold fst-italic" title="Kasa wyda">KW</span> to kluczowe funkcjonalności oprogramowania,
                które zostały zaprojektowane z myślą o różnorodnych przedsiębiorstwach, jednostkach budżetowych oraz
                miejscach, gdzie pobierane są opłaty od klientów. Dzięki funkcji "kasa przyjmie" użytkownicy mogą łatwo
                obsługiwać transakcje przyjmowania płatności za towary lub usługi. Oprogramowanie umożliwia akceptację
                różnych form płatności, takich jak gotówka, karty płatnicze czy bonifikaty, zapewniając elastyczność w
                obsłudze klientów.
            </p>
            <p>
                Z kolei funkcja "kasa wyda" pozwala na sprawną obsługę zwrotów, wydawanie reszty oraz realizację
                różnorodnych transakcji, gdzie klientowi przysługuje zwrot pieniędzy. Dzięki tej funkcji użytkownicy
                mogą szybko i precyzyjnie przeprowadzać operacje zwrotów, co przekłada się na pozytywne doświadczenie
                klienta i zwiększa zaufanie do usług świadczonych przez firmę.
            </p>
            <p>
                Oprogramowanie, które integruje te dwie kluczowe funkcjonalności, jest niezwykle użyteczne dla różnych
                branż i sektorów, ponieważ umożliwia zarządzanie finansami w sposób przejrzysty i efektywny.
                Bez względu na rodzaj działalności - czy to sklep detaliczny, restauracja, czy jednostka usługowa
                - oprogramowanie to pozwala na sprawną obsługę operacji kasowych, co wpływa pozytywnie na efektywność
                działania firmy oraz zadowolenie klientów.
            </p>
        </div>
    </div>
</header>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <div class="text-center p-4 bg-light">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://itsystems.com.pl/">IT SYSTEMS</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>